body {
    margin: 0;
    padding: 0;

    font-family: "Rubik";

    background: #f2f2f2;
}

fieldset {
    padding: 0;
    margin: 0;

    border: 0;

    legend {
        padding: 0;
        margin: 0;

        font-family: inherit;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 36px;

        text-align: center;

        color: #252631;
    }
}

p,
ul,
h1 {
    margin: 0;
    padding: 0;
}

button {
    padding: 0;
    margin: 0;
    outline: none;

    &:focus {
        outline: none;
    }
}

a {
    text-decoration: none;
    color: #4d7cfe;
}

.symbol__ruble {
    width: 10px;
    height: 21px;
    display: block;
    position: absolute;
    background: url(/assets/images/icons/ruble-ico.svg);
    background-position: center;
    background-repeat: no-repeat;
    right: 15px;
    top: 16px;
}
.money__input-holder {
    position: relative;
}

.screen-view {
    width: calc(100% - 243px);

    min-height: 100vh;

    float: right;
    position: relative;
}

.content-wrapper {
    width: 100%;
    min-height: 100vh;

    position: absolute;

    padding: 84px 30px 62px;

    box-sizing: border-box;

    .copyright {
        width: 100%;
        height: 62px;

        box-sizing: border-box;

        display: flex;
        align-items: center;

        padding-left: 28px;

        position: absolute;
        bottom: 0;
        left: 0;

        background: #ffffff;
        mix-blend-mode: normal;
        opacity: 0.65;

        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;

        color: #98a9bc;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;

        font-style: normal;
        font-weight: 500;
        font-size: 14px;

        text-align: center;
        letter-spacing: 0.21px;

        margin: 0 5px;
        cursor: pointer;

        &:first-child,
        &:last-child {
            color: #778ca2;
            a {
                color: #778ca2;
            }
        }

        &:last-child {
            svg {
                transform: rotate(180deg);
            }
        }

        span {
            display: block;
        }
        &.active {
            background: #4d7cfe;
            a {
                color: #ffffff;
            }
        }
        a {
            display: block;
            min-width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #000;
        }
    }
}
