.btns{

    &__blue, &__green, &__gray, &__add-textual{

        outline: none;
        border: 0;
        cursor: pointer;

        &:focus{
            outline: none;
        }
    }

    &__blue, &__green{
        border-radius: 4px;
    }
    
    &__gray{
        background: #F2F4F6;
        border-radius: 4px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;


        &.blue-text{

            text-align: center;
            text-transform: uppercase;

            color: #4285F4;
        }

        &.upper-text{
            text-transform: uppercase;
        }

        &.gray-text{
            color: #778CA2;
        }


    }

    &__green{
        color: #FFFFFF;
        background: #6DD230;

        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;

        text-align: center;
        text-transform: uppercase;
    }

    &__blue{

        color: #fff;
        background: #4D7CFE;

        font-style: normal;
        font-family: inherit;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;

    }

    &__add-textual{
        background: none;
        color: #4D7CFE;

        height: 20px;

        display: flex;
        align-items: center;
        text-transform: uppercase;

        font-family: "Rubik";
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        /* identical to box height, or 117% */

        text-transform: uppercase;

        color: #4D7CFE;

        &.normal-text{
            text-transform: none;
        }

        &-ico{
            width: 18px;
            height: 18px;
        }
    }
}