.btns {
    &__blue,
    &__green,
    &__gray,
    &__add-textual,
    &__orange {
        outline: none;
        border: 0;
        cursor: pointer;

        &:focus {
            outline: none;
        }
    }

    &__blue,
    &__green {
        border-radius: 4px;
    }

    &__gray {
        background: #f2f4f6;
        border-radius: 4px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;

        &.blue-text {
            text-align: center;
            text-transform: uppercase;

            color: #4285f4;
        }

        &.upper-text {
            text-transform: uppercase;
        }

        &.gray-text {
            color: #778ca2;
        }
    }

    &__green {
        color: #ffffff;
        background: #6dd230;

        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;

        text-align: center;
        text-transform: uppercase;
    }

    &__blue {
        color: #fff;
        background: #4d7cfe;

        font-style: normal;
        font-family: inherit;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
    }

    &__add-textual {
        background: none;

        height: 20px;

        display: flex;
        align-items: center;
        text-transform: uppercase;

        font-family: "Rubik";
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        /* identical to box height, or 117% */

        text-transform: uppercase;

        color: #4d7cfe;

        &.red {
            color: #fe4d97;
        }

        &.normal-text {
            text-transform: none;
        }

        &-ico {
            width: 18px;
            height: 18px;
            &.red {
                fill: #fe4d97;
            }

            &.blue {
                fill: #4d7cfe;
            }
        }
    }

    &__orange {
        display: flex;
        align-items: center;

        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;

        text-align: center;
        text-transform: uppercase;

        color: #ffffff;

        background: #ffab2b;
        &.bordered {
            border-radius: 4px;
        }
    }
}
