.purchase {
    width: 100%;
    height: 100%;

    margin-bottom: 40px;

    &__tabs {
        width: 100%;
        height: 60px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;

        text-align: center;
        text-transform: uppercase;

        color: #778ca2;

        &-item {
            margin-right: 25px;

            background: none;
            border: none;
            cursor: pointer;

            &.active {
                color: #4285f4;
                border-bottom: 2px solid;
            }
        }
    }

    &__content {
        width: 100%;
    }

    &__company {
        width: 100%;

        box-sizing: border-box;
        padding: 28px 24px;

        border-radius: 4px;

        background: #fff;

        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 6px;

        &-part {
            &.flex {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        &-name {
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;

            color: #252631;
        }

        &-trading {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;

            color: #98a9bc;
        }

        &-progress {
            width: 130px;
            height: 6px;

            border-radius: 1px;

            background: #f2f4f6;

            position: relative;

            overflow: hidden;

            span {
                display: block;
                width: 80%;
                height: 6px;

                position: absolute;
                top: 0;
                left: 0;

                background: #fe4d97;
                border-radius: 1px;
            }

            &.completed {
                span {
                    width: 100%;
                    background: #6dd230;
                }
            }
        }

        &-purse {
            margin-left: 40px;
        }

        &-price {
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;

            color: #252631;
        }

        &-text {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;

            color: #98a9bc;
        }

        &-edit {
            margin: 0 20px 0 40px;
        }
    }

    &__controllers {
        width: 100%;
        padding: 0;

        box-sizing: border-box;

        border-radius: 4px;

        margin: 20px 0;

        display: flex;
        justify-content: space-between;
        align-items: center;

        &.right {
            justify-content: flex-end;
            svg {
                fill: #4d7cfe;
            }
        }

        &.white {
            background: #fff;
            margin: 0 0 30px 0;
            padding: 20px;
        }

        &-btn {
            padding: 15px 25px;
        }

        &-text {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;

            color: #778ca2;
        }
    }

    &__acquisition {
        width: 100%;
        padding: 18px 24px;

        box-sizing: border-box;

        background: #fff;
        border-radius: 4px;

        .btn-dropdown {
            &.collapsed {
                transform: rotate(-90deg);
            }
        }

        &.flex {
            display: flex;
            align-items: center;
        }

        margin-bottom: 6px;
        min-height: 90px;

        position: relative;

        &.gray {
            background: #f2f4f6;
        }

        &-part {
            &.flex {
                display: flex;
                justify-content: center;
            }
            &.width-name {
                width: 400px;
            }
            &.width-purse {
                width: 300px;
            }
            &.width-more {
                width: 20px;
            }
            &.width-small {
                max-width: 20px;
                position: absolute;
                left: 20px;
            }
            &.width-platform-name {
                width: 330px;
            }
            .no-margin {
                margin: 0;
            }
        }

        &-purse {
            margin: 0 10px;
        }

        &-number {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;

            text-align: center;
            letter-spacing: 0.3px;

            color: #252631;
        }

        &-name {
            width: 100%;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;

            color: #252631;

            margin-bottom: 10px;

            &.smaller-font {
                font-size: 18px;
                line-height: 22px;
            }
        }

        &-infoboard {
            width: 100%;

            display: flex;
            justify-content: space-between;
            align-items: center;

            &.other-padding {
                padding-left: 60px;
                box-sizing: border-box;
            }
        }

        &-text {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;

            color: #98a9bc;

            &.align-right {
                text-align: right;
            }

            &.red,
            &.green,
            &.black {
                color: #fe4d97;
                font-size: 16px;
                line-height: 19px;
            }

            &.green {
                color: #6dd230;
            }

            &.black {
                color: #252631;
            }
        }

        &-hover-btn {
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            text-transform: uppercase;

            color: #4d7cfe;

            cursor: pointer;

            margin-top: 8px;

            background: none;
            border: 0;

            position: relative;

            &:hover + div {
                display: block;
            }
        }

        &-btn {
            width: 20px;
            height: 20px;

            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__description {
        max-width: 627px;

        box-sizing: border-box;

        padding: 36px 24px;

        background: #ffffff;
        box-shadow: 0px 2px 16px rgba(153, 155, 168, 0.12);
        border-radius: 2px;

        position: absolute;

        z-index: 2;

        display: none;

        &-title {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;

            color: #252631;

            margin-bottom: 10px;
        }

        &-text {
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 21px;

            color: #778ca2;

            &.other-margin {
                margin-bottom: 20px;
            }
        }
    }

    &__dropdown {
        padding: 22px;

        position: absolute;
        right: 20px;

        display: none;

        min-width: 188px;

        background: #ffffff;
        box-shadow: 0px 2px 16px rgba(153, 155, 168, 0.12);
        border-radius: 4px;

        z-index: 2;

        &.active {
            display: block;
        }

        &-list {
            width: 100%;
        }

        &-item {
            width: 100%;
            display: block;
        }

        &-link {
            height: 40px;

            display: flex;
            justify-content: flex-start;
            align-items: center;

            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            text-transform: uppercase;

            color: #252631;

            white-space: nowrap;

            &:hover {
                color: #4d7cfe;

                svg {
                    fill: #4d7cfe;
                }
            }
        }

        &-ico {
            width: 19px;
            height: 19px;

            fill: #778ca2;

            margin-right: 6px;
        }
    }
}

div[data-expand-block] {
    display: none;
    &.active {
        display: block;
    }
}

div[data-tabname="participate"] {
    display: none;
}
